body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #800000; /* Vinho */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.produtos {
    padding: 20px;
    text-align: center;
}

.produto {
    display: inline-block;
    background-color: #222;
    border: 1px solid #800000; /* Vinho */
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.produto img {
    max-width: 100%;
}

.preco {
    color: #800000; /* Vinho */
    font-weight: bold;
}

button {
    background-color: #800000; /* Vinho */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a00000; /* Um tom mais claro de vinho */
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}